<div class="container">
    <div mat-dialog-content>
      <h1>Rentrez le nouveau nom de l'annonce :</h1>
      <input class = "form-control" [(ngModel)]="nouveauNomAnnonce">
      <div style = "margin-top: 20px;" *ngIf="errorMessage.length!=0" class="alert alert-danger" role="alert">{{errorMessage}}</div>
    </div>
    <div mat-dialog-content>
        <h1>Rentrez la nouvelle description de l'annonce :</h1>
        <input class = "form-control" [(ngModel)]="nouvelleDescription">
        <div style = "margin-top: 20px;" *ngIf="errorMessage.length!=0" class="alert alert-danger" role="alert">{{errorMessage}}</div>
      </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Annuler</button>
      <button mat-button (click)="onClick()">Modifier</button>
    </div>
</div>
