@import "../../variable.scss";

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    margin:0;
    max-width: 100%;
}

.profil{
    width: 50%;
    padding: 2rem;
    padding-right: 2rem;
    button{
        width: 45%;
        background-color: $violetbouton;
        border: none;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        transition: 0.3s;
        height: 50px;
    }
    button:hover{
        background-color: #A680F8;
    }
    p{
        margin-bottom: 0;
    }
    .form-control{
        border-right: none !important;
        border-top: none !important;
        border-left: none !important;
        box-shadow: none !important;
        border-radius: 0;
        border-bottom: solid 2px $violetbouton;
    }

    #selectCountry{
        width: 100%;
        color: $violetbouton !important;
        ::ng-deep .mat-form-field{
            display: block !important;
            background-color: white;
            border-bottom: solid 2px $violetbouton;
            height: 50px;
            border-radius: 5px;
            margin-bottom: 2rem;
        }
        ::ng-deep .mat-form-field-underline{
            display: none;
        }
        ::ng-deep .mat-form-field-wrapper{
            padding-bottom: 0;
        }
        ::ng-deep .mat-form-field-infix{
            border: none;
        }
        ::ng-deep .mat-form-field-label-wrapper{
            left: 0.8rem;
        }
        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
            color: $violetbouton;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            padding-bottom: 0.5rem;
        }
        ::ng-deep .mat-form-field-flex{
            padding-bottom: 0.5rem;
        }
    }

    input::placeholder {
        color: $violetbouton;
    }
}

.modifmdp{
    width: 50%;
    padding: 2rem;
    button{
        width: 45%;
        background-color: $violetbouton;
        border: none;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        transition: 0.3s;
        height: 50px;
    }
    button:hover{
        background-color: #A680F8;
    }
    p{
        margin-bottom: 0;
    }
    .form-control{
        border-right: none !important;
        border-top: none !important;
        border-left: none !important;
        box-shadow: none !important;
        border-radius: 0;
        border-bottom: solid 2px $violetbouton;
    }

    input::placeholder {
        color: $violetbouton;
    }
}
h2{
    color: white;
    text-align: left;
    margin-bottom: 2rem;
}

.form-group {
    width: 70%;
    input{
        height: 50px;
        margin-bottom: 2rem;
        border-radius: 5px !important;
    }
}

.alert{
  width: 45%;
}
