<app-navbar></app-navbar>
<div class="container">
    <div class="profil">
        <h2>Informations personnelles :</h2>
        <div class="form-group">
            <input [(ngModel)]="newFirstName" type="firstName" class="form-control" placeholder={{firstName}}>
        </div>
        <div class="form-group">
            <input [(ngModel)]="newLastName" type="lastName" class="form-control" placeholder={{lastName}}>
        </div>
        <!-- <div class="form-group">
            <input [(ngModel)]="newNationality" type="nationality" class="form-control"  placeholder={{nationality}}>
        </div> -->
        <div class="form-group">
            <mat-select-country (onCountrySelected)="countrySelected($event)" id = "selectCountry" [placeHolder]="nationality"></mat-select-country>
        </div>
        <div style = "margin-top: 10px;" *ngIf="errorMessagegauche.length!=0" class="alert alert-danger" role="alert">{{errorMessagegauche}}</div>
        <div style = "margin-top: 10px;" *ngIf="checkMessagegauche.length!=0" class="alert alert-success" role="alert">{{checkMessagegauche}}</div>
        <button (click)="modifierInfosPersos()" type="submit" class="btn btn-primary">Modifier</button>
    </div>
    <div class="modifmdp">
        <h2>Modification de mot de passe :</h2>
        <div class="form-group">
            <input [(ngModel)]="oldPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Ancien mot de passe">
        </div>
        <div class="form-group">
            <input [(ngModel)]="newPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Nouveau mot de passe">
        </div>
        <div class="form-group">
            <input [(ngModel)]="confNewPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmer le nouveau mot de passe">
        </div>
        <div style = "margin-top: 10px;" *ngIf="errorMessagedroit.length!=0" class="alert alert-danger" role="alert">{{errorMessagedroit}}</div>
        <div style = "margin-top: 10px;" *ngIf="checkMessagedroit.length!=0" class="alert alert-success" role="alert">{{checkMessagedroit}}</div>
        <button (click)="modifierMDP()" type="submit" class="btn btn-primary">Modifier</button>
    </div>
</div>

<button type="submit" (click)="disconnect()" class="btn btn-deco">Se déconnecter</button>
