<app-navbar></app-navbar>
<div class="haut">
    <h2>Mes playlists :</h2>
    <app-create-playlist (newItemEvent)="onCreatePlaylist($event)"></app-create-playlist>
</div>

<div class="grid">
    <ng-container *ngFor="let playlist of playlists">
        <a class="stretched-link">
            <div class="card">
                <img [routerLink]="['/playlist', playlist]" class="photo" src="../../assets/playlist_photo.jpg">
                <p>{{playlist}}</p>
                <div class="icone">
                    <i class="bi bi-pencil-square"></i>
                    <app-delete-playlist (newItemEvent)="onDeletePlaylist($event)" [playlistName] = playlist></app-delete-playlist>
                </div>
            </div>
        </a>
    </ng-container>
</div>
