@import "../../variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.navbar{
    z-index: 10;
    justify-content: left;
    background: linear-gradient(#702DFF,#937AC9);
    a{
        display: flex;
        p{
            color: white;
            font-weight: 600;
            margin:auto;
            padding-left: 5px;
        }
    }
    .right{
        .bi{
            position: absolute;
            font-size: 25px;
            height: auto;
            margin-left: 2rem;
            color: white;
            padding: 1rem 1rem 1rem 1rem;
        }
        .bi-music-note-list{
            right: 4rem;
            top: 0;
        }
        .bi-person-fill{
            right: 0;
            top: 0;
        }
        .bi:hover{
            box-shadow: $boutongris 1px 1px 5px;
        }

    }
}
.form-inline{
    margin-left: 25%;
    width: 35%;
    .form-control{
        width: 75%;
    }
    .form-control:focus{
        box-shadow: $boutongris 1px 1px 5px;
    }
    .btn{
        width: 22%;
        background-color: $rose;
        color: white;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.3s;
    }
    .btn:hover{
        background-color: white;
        color: $rose;
        border: solid 1px white;
    }
    input::placeholder{
        color: $violetbouton;
    }
}

.stretched-link::after {
    position: relative;
}
.grid {
    z-index: 0;
    padding-top: 1rem;
    padding-left: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr; /* Create 2 columns and auto-place rows */
    ng-container{
        display: block;
    }
    a{
        color: white;
    }
    img{
        width: 320px;
        height: 220px;
    }
    p.title{
        width: 90%;
        word-wrap: anywhere;
        margin-top: 0.3rem;
        font-size: 16px;
    }
    .channel{
        font-size: 12px;
        margin-left: 0.5rem;
        color: #9E9E9E;
        display: flex;
        .bi{
            margin-right: 0.5rem;
        }
        margin-bottom: -0.8rem;
    }
    .date{
        font-size: 12px;
        margin-left: 0.5rem;
        color:  #9E9E9E;
        display:flex;
        .bi{
            margin-right: 0.5rem;
        }
        margin-bottom: -0.5rem;
    }
    .provider{
        font-size: 12px;
        margin-left: 0.5rem;
        color:  #9E9E9E;
    }
    a:hover{
        text-decoration: none;
        p.title{
            text-decoration: underline;
        }
    }
}


.customPaginator {
  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  li{
    margin-right: 20px;
  }

  .page-link{
    border: 5px;
    border-radius: 10px;
    background-color: #702DFF;
    color: white;
    cursor: pointer;
  }
}

.divSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
