@import "../../variable.scss";

.navbar{
    justify-content: left;
    background: linear-gradient(#702DFF,#937AC9);
    a{
        color: white;
        font-weight: 600;
    }
}
.form-inline{
    margin-left: 25%;
    width: 35%;
    .form-control{
        width: 75%;
    }
    .form-control:focus{
        box-shadow: $boutongris 1px 1px 5px;
    }
    .btn{
        width: 22%;
        background-color: $boutongris;
        color: $violetbouton;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.3s;
    }
    .btn:hover{
        background-color: $violetbouton;
        color: $boutongris;
        border: solid 1px white;
    }
    input::placeholder{
        color: $violetbouton;
    }
}