@import "../../variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.navbar{
    z-index: 10;
    justify-content: left;
    // background: linear-gradient(140deg, #702DFF 17%, #937AC9 77%);
     background: linear-gradient(#702DFF,#937AC9);
  cursor: pointer;
    a{
        display: flex;
        p{
            color: white;
            font-weight: 600;
            margin:auto;
            padding-left: 5px;
        }
    }
    .right{
        .bi{
            position: absolute;
            font-size: 25px;
            height: auto;
            margin-left: 2rem;
            color: white;
            padding: 1rem 1rem 1rem 1rem;
        }
        .bi-music-note-list{
            right: 4rem;
            top: 0;
        }
        .bi-person-fill{
            right: 0;
            top: 0;
        }
        .bi:hover{
            box-shadow: $boutongris 1px 1px 5px;
        }

    }
}
.form-inline{
    margin-left: 25%;
    width: 35%;
    .form-control{
        width: 75%;
    }
    .form-control:focus{
        box-shadow: $boutongris 1px 1px 5px;
    }
    .btn{
        width: 22%;
        background-color: $rose;
        color: white;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.3s;
    }
    .btn:hover{
        background-color: white;
        color: $rose;
        border: solid 1px white;
    }
    input::placeholder{
        color: $violetbouton;
    }
}
