@import "../../variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.navbar{
    z-index: 10;
    justify-content: left;
    //  background: linear-gradient(#702DFF,#937AC9);
     background: linear-gradient(178deg, #702DFF 15%, #937AC9 90%);
  cursor: pointer;
    a{
        display: flex;
        p{
            color: white;
            font-weight: 600;
            margin:auto;
            padding-left: 5px;
        }
    }
}

.stretched-link::after {
    position: relative;
}
h2{
    font-size: 30px;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
}
.grid {
    z-index: 0;
    padding-top: 1rem;
    padding-left: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; /* Create 2 columns and auto-place rows */
    ng-container{
        display: block;
    }
    .card{
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 300px;
        background-color: $boutongris;
        border-radius: 10px;
        border: solid 2px $violetbouton;
        transition: 0.3s;
        img.photo{
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 50%;
            height: auto;
            border: solid 1px black;
            border-radius: 50%;
        }
        p.name{
            font-weight:500;
            margin-bottom: 0;
        }
        p.profil{
            font-weight: 200;
            padding-top: 0;
        }
        .mail {
            display: flex;
            .bi{
                width: 20px;
                padding-right: 0.4rem;
            }
            padding-bottom: 1rem;
        }
        button{
            background-color: $violetbouton;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: 0.3s;
        }
        button:hover{
            background-color: $hoverbouton;
        }
    }
    .card:hover{
        background-color: #AEAEAE;
    }

}
