<app-navbar></app-navbar>
<h2>{{titleplaylist}} :</h2>
<ng-container *ngFor="let video of playlist">
    <a>
        <div class="card" >
            <img [routerLink]="['/video', video.id + '___' + video.provider]" class="photo" src={{video.thumbnail}}>
            <div class="icone">
                <app-delete-video (newItemEvent)="onDeleteVideo($event)" [videoId]=video.id [videoTitle] = video.title [playlistName]="titleplaylist"></app-delete-video>
            </div>
            <div class="infoVideo">
              <p class="title">{{video.title}}</p>
              <div class="channel"><i class="bi bi-person-fill"></i> <p>{{video.channel}} </p></div>
              <div class="date"><i class="bi bi-calendar"></i> <p>Postée le {{video.date}}</p></div>
            </div>
        </div>
    </a>
</ng-container>
