@import "../../variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.stretched-link::after {
    position: relative;
}
h2{
    padding: 2rem;
    color: white;
    font-size: 30px;
}
a{
    color: black;
}
.card{
    position: relative;
    margin: auto;
    width: 60%;
    height: 300px;
    background-color: $boutongris;
    border-radius: 10px;
    border: solid 2px $violetbouton;
    margin-bottom: 2rem;
    transition: 0.3s;
    img.photo{
        cursor: pointer;
        position: absolute;
        left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 320px;
        height: auto;
        border: solid 1px black;
        cursor: pointer;
    }
    p.title{
      position: absolute;
      left: 400px;
      bottom: 45%;
      font-size: 25px;
      line-height: 1.3;
    }
    .channel{
        display: flex;
        position: absolute;
        left: 400px;
        bottom: 13%;
        .bi{
            margin-right: 0.5rem;
        }
    }
    .date{
        display:flex;
        position: absolute;
        left: 400px;
        bottom: 3%;
        .bi{
            margin-right: 0.5rem;
        }
    }
    .icone{
        display: flex;
        width: 100%;
        height: 20%;
        position: absolute;
        top: -1rem;
    }
    .bi-trash{
        // position: absolute;
        border: solid 1px black;
        border-radius: 50%;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 4px;
        padding-left: 4px;
        background-color: white;
        font-size: 15px;
    }
    .bi-trash:hover{
        background-color: $violetbouton;
        color: white;
    }
}
.card:hover{
    background-color: #AEAEAE;
}
