<app-navbar-advert></app-navbar-advert>

<div class="haut">
  <h2>Mes annonces :</h2>
  <app-create-advert (newItemEvent)="onCreateAdvert($event)"></app-create-advert>
</div>

<ng-container *ngFor="let advert of adverts">
    <a>
        <div class="cardadvert" >
            <div class="containerPhoto">
                <img class="photo" src={{advert.image}}>
            </div>
            <div class="infoVideo">
              <p class="title">{{advert.title}}</p>
              <div class="description"><p>{{advert.description}} </p></div>
              <div class="icone">
                <app-edit-advert (newItemEvent)="onEditAdvert($event, advert.title)" [oldTitle] = advert.title></app-edit-advert>
                <app-delete-advert (newItemEvent)="onDeleteAdvert($event)" [advertTitle]= advert.title></app-delete-advert>
              </div>
            </div>
        </div>
    </a>
</ng-container>
