<app-navbar-advert></app-navbar-advert>
<h2>Mes annonces :</h2>
<ng-container *ngFor="let advert of adverts">
    <a>
        <div class="cardadvert" >
            <div class="containerPhoto">
                <img class="photo" src={{advert.image}}>
            </div>
            <div class="infoVideo">
                <div class="icone">
                    <!-- <app-edit-advert (newItemEvent)="onEditPlaylist($event, playlist)" [playlistName] = playlist></app-edit-advert> -->
                    <!-- <app-delete-advert (newItemEvent)="onDeleteVideo($event)" [videoId]=video.id [videoTitle] = video.title [playlistName]="titleplaylist"></app-delete-advert> -->
                </div>
              <p class="title">{{advert.title}}</p>
              <div class="description"><p>{{advert.description}} </p></div>
            </div>
        </div>
    </a>
</ng-container>