<app-navbar-advert></app-navbar-advert>
<div class="haut">
    <h2>Mes annonces :</h2>
    <!-- <app-create-playlist (newItemEvent)="onCreateAdvert($event)"></app-create-playlist> -->
</div>

<div class="grid">
    <!-- <ng-container *ngFor="let advert of adverts">
        <a class="stretched-link">
            <div class="card">
                <img class="photo" src="../../assets/playlist_photo.jpg">
                <p>{{advert}}</p>
                <div class="icone">
                    <app-edit-advert (newItemEvent)="onEditAdvert($event, advert)" [playlistName] = advert></app-edit-advert>
                    <app-delete-advert (newItemEvent)="onDeleteAdvert($event)" [playlistName] = advert></app-delete-advert>
                </div>
            </div>
        </a>
    </ng-container> -->
</div>
