@import "../../variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.stretched-link::after {
    position: relative;
}
h2{
    padding: 2rem;
    color: white;
    font-size: 30px;
}
.haut{
  display: flex;
  position: relative;
}
app-create-advert{
  position: absolute;
  right: 2rem;
  top: 2rem;
}
a{
    color: black;
}
.cardadvert{
    display: flex !important;
    margin: auto;
    width: 60%;
    height: 40%;
    background-color: $boutongris;
    border-radius: 10px;
    // border: solid 2px $violetbouton;
    box-shadow: $violetbouton 0px 5px 15px;
    margin-bottom: 2rem;
    transition: 0.3s;
    .containerPhoto{
        width: 50%;
        display: flex;
        img.photo{
            margin: auto;
            cursor: pointer;
            // margin-top: 3rem;
            // margin-bottom: 3rem;
            height:auto;
            max-width: 80%;
            max-height: 70%;
            border: solid 1px black;
            cursor: pointer;
        }
    }
    .infoVideo{
        width: 50%;
        position: relative;
        p.title{
            margin-top: 3rem;
            font-size: 25px;
            line-height: 1.3;
          }
          .description{
              width: 90%;
              display: flex;
              .bi{
                  margin-right: 0.5rem;
              }
          }
          .icone{
            display: flex;
        }
    }
}
.card:hover{
    background-color: #AEAEAE;
}
